.chatcontrol{
    float: left;
    width: 40%;
    
  
    .chatinput{
      width: 80%;
      float: left;
      border-radius: 0;
      background-color: rgb(245, 245, 245);
       box-shadow: 1px 2px 0px #D4D4D4;
      
    }
  
    .sendbtn{
      width: 20%;
      float: left;
      border-radius: 0;
      text-transform: uppercase;
      
    }
    
      
     
      
      
  }